body {
    margin: 0;
    font-family: 'Lucida', sans-serif;
    background-color: #ebdf5e40;
    overflow: hidden;
    color: #190934;
}

.th {
   padding: 30px;
   border: 2px solid black;
}

.player1Color {
   padding: 30px;
   border: 2px solid black;
   background-color: #aec97e;
   color: #f1f1f1;
   font-size: large;
}

.player2Color {
   padding: 30px;
   border: 2px solid black;
   background-color: #ffb81d;
   color: #f1f1f1;
   font-size: large;
}

.player3Color {
   padding: 30px;
   border: 2px solid black;
   background-color: #73b7d9;
   color: #f1f1f1;
   font-size: large;
}

.board-row-top {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 25px;
   border-top-right-radius: 50px;
   border-top-left-radius: 50px;
   border-bottom: none;
}

.board-row-bot {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 23px;
   border-bottom-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-top: none;
}

.board-row {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: -0px;
   border-top: none;
   border-bottom: none;
}

.square {
   height: 44px;
   width: 44px;
   border-radius: 10px;
   position: fixed;
   margin-top: -22px;
   margin-left: -22px;
}

.boxPlay1 {
   height: 44px;
   width: 44px;
   border-radius: 5px;
   background-color: #aec97e;
   position: fixed;
   margin-top: -22px;
   margin-left: -22px;
}

.boxPlay2 {
   height: 44px;
   width: 44px;
   border-radius: 5px;
   background-color: #ffb81d;
   position: fixed;
   margin-top: -22px;
   margin-left: -22px;
}

.boxPlay3 {
   height: 44px;
   width: 44px;
   border-radius: 5px;
   background-color: #73b7d9;
   position: fixed;
   margin-top: -22px;
   margin-left: -22px;
}

.board-row:after {
   clear: both;
   display: table;
}
.acrossPer {
   width: 40px;
   position: fixed;
   margin-top: 24px;
   margin-left: -20px;
}

.acrossPlay1 {
   border-top: 4px solid #aec97e;
   width: 40px;
   position: fixed;
   margin-top: 24px;
   margin-left: -20px;
}

.acrossPlay2 {
   border-top: 4px solid #ffb81d;
   width: 40px;
   position: fixed;
   margin-top: 24px;
   margin-left: -20px;
}

.acrossPlay3 {
   border-top: 4px solid #73b7d9;
   width: 40px;
   position: fixed;
   margin-top: 24px;
   margin-left: -20px;
}

.downPer {
   height: 40px;
   margin-left: -28px;
   margin-top: -20px;
   position: fixed;
}

.downPlay1 {
   border-right: 4px solid #aec97e;
   height: 40px;
   margin-left: -28px;
   margin-top: -20px;
   position: fixed;
}

.downPlay2 {
   border-right: 4px solid #ffb81d;
   height: 40px;
   margin-left: -28px;
   margin-top: -20px;
   position: fixed;
}

.downPlay3 {
   border-right: 4px solid #73b7d9;
   height: 40px;
   margin-left: -28px;
   margin-top: -20px;
   position: fixed;
}

.dot {
   border-radius: 100px;
   border: 1px solid black;
   height: 12px;
   width: 12px;
   margin: 20px;
   padding: 0px;
   background-color: black;
}

.dot-white {
   border-radius: 100px;
   border: 1px solid rgb(0, 0, 0);
   height: 12px;
   width: 12px;
   margin: 20px;
   padding: 0px;
   background-color: rgb(255, 255, 255);
}

.dot:focus {
   outline: none;
}

.dot:hover {
   cursor: pointer;
   background-color: #f1f1f1!important;
}

.dot-white:focus {
   outline: none;
}

.status {
   margin-top: 13px;
   margin-bottom: 10px;
   font-size: 22px;
}

.status>span {
   margin: 100px;
}

.kbd-navigation .square:focus {
   background: #ddd;
}

.game {
   display: black;
   flex-direction: row;
   text-align: center;
}

